@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html,
  body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
}

/* @layer components {
  .dark {
    @apply bg-black text-white;
  }
} */